.bash_history
.bash_logout
.bashrc
.history_bash
.cache/
.config/
.forever/
.gitconfig
.*.swp
.mysql_history
.npm/
.pip/
.s3cfg
.ssh/
.sudo_as_admin_successful
.viminfo
#	csstidy/
#	jslint/
files/
src/
tmp/
