[user]
name = Nick Sullivan
email = nick@sullivanflock.com
username = TechNickAI
[github]
user = TechNickAI
[core]
editor = vim
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
# Safer pulls; don't do anything other than a fast forward on merge
pull = "pull --ff-only"
[web]
browser = google-chrome
[push]
default = matching
followTags = true
[color]
ui = auto
[help]
autocorrect = 1
[init]
defaultBranch = master
